@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
:root {
    --primary-color: #78efa8;
    --primary-color-pressed: #60b984;
    --secondary-color: #1b1b28;
    --secondary-color-pressed: #3a3a54
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0
}

.sub-title {
    font-size: 1rem;
    font-weight: bold;
}

.panel-body-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.payment-details th,
.payment-details td {
    padding: 0 1rem .5rem 0
}

.panel {
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 3px;
}

.panel-header {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
    display: flex;
    align-items: center;
}

.panel-body {
    padding: 1rem;
}

.logo {
    width: 2rem;
    margin-right: 1rem;
}

.lifted {
    box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, .1)
}

.bank-list .bank {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #f1f0f0;
    border-radius: 3px;
    min-height: 4.3rem;
    cursor: pointer;
}

.bank .selection {
    margin-right: 1rem;
}

.bank .bank-logo {
    width: 11rem;
    max-height: 2.6rem;
    object-fit: contain;
    object-position: left;
}

.btn-brand {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 3px;
    padding: 10px 20px;
    border: none;
}

.btn-brand:active,
.btn-brand:hover {
    background-color: var(--primary-color-pressed) !important;
    box-shadow: none;
}

.btn-brand-inverse {
    background-color: var(--secondary-color) !important;
    color: #fff
}

.btn-brand-inverse:active,
.btn-brand-inverse:hover {
    color: #fff;
    background-color: var(--secondary-color-pressed) !important;
}

.button-group {
    margin-top: 3rem
}

.button-group .btn {
    margin-bottom: .5rem;
}

@media (max-width:990px) {
    .panel-body {
        margin-top: 5.5rem;
    }
    .panel-header {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
        width: 100%;
    }
    .button-group {
        margin-top: .3rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    }
    .button-group .btn {
        margin: 0;
        border-radius: 0;
        padding: 15px 20px
    }
}