@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Helvetica Neue", "Calibri", Helvetica, Verdana, Tahoma, Arial, sans-serif;
    text-align: left;
    color: #000;
    background: #fff;
}

#header {
    padding: 20px;
    background: #ffffcc;
    position: relative;
}

#header h1 {
    font-size: 16px;
}

#header p.popupClose {
    position: absolute;
    top: 15px;
    right: 20px;
}

#content {
    padding: 20px;
}

#content h2 {
    font-size: 12px;
}

#content blockquote {
    border: 1px solid #ccc;
    background: #eee;
    padding: 10px 15px;
    margin: 10px;
}

#content blockquote.secure {
    border: 1px solid #ccc;
    background: #ffffe5;
    padding: 10px;
    margin: 10px;
}

#content .right {
    text-align: right;
}

#footer {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    color: #0000FF;
}

a:active {
    color: #0066FF;
}

.success {
    color: #009900;
}

.fail,
.alert,
.error {
    color: #FF0000;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

a.popup {
    padding-right: 12px;
    background: url(../maybank_gif/popup.gif) center right no-repeat;
}

input.button {
    cursor: pointer;
}

input.transparent {
    background: transparent;
    color: blue;
    border: 0;
    padding: 0;
    font-size: 12px;
}

p.submit {
    text-align: right;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table tr.even {
    background: #ffffcc;
}

table tr.alt {
    background: #ffff99;
}

div.tableWrap {
    padding: 0 5px 10px 5px;
    background: #fff;
}

table.tabularData {
    background: #fff;
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
}

table.tabularData thead {
    background: #e3e3e3;
}

table.tabularData tr.header {
    background: #ffc;
}

table.tabularData th,
table.tabularData td {
    padding: 5px;
}

table.tabularData th {
    font-weight: bold;
}

table.tabularData .account {}

table.tabularData .balance {
    width: 90px;
    text-align: center;
}

table.tabularData th.balance span {
    display: block;
}

table.tabularData .select {
    width: 150px;
}

table.tabularData th.select span {
    padding-left: 10px;
}

table.tabularData .select form.quickLink p {
    text-align: right;
}

table.tabularData .select form.quickLink select {
    width: 139px;
    font-size: 11px;
}

table.tabularData .select form.quickLink select option {
    width: 150px;
}

table.tabularData .select form.quickLink input.go {
    cursor: pointer;
    margin-top: 3px;
}

table.tabularData td h3 {
    font-size: 12px;
}


/* login */

#login {
    background: #fff;
}

#login #loginHead {
    padding: 0 5px;
}

#login #loginMain {
    width: 290px;
    background: #efefef;
}

#login #loginSide {
    padding: 0 10px 30px;
}

#login .paddingdiv {
    padding: 10px;
}

#login #loginMain h3 {
    margin-bottom: 10px;
    font-size: 13px;
}

#login #loginMain p {
    margin-bottom: 10px;
}

#login #loginMain p.newUsers {
    font-size: 11px;
}

table#loginTable {
    margin: 10px 0;
}

table#loginTable tr td {
    padding: 5px 0;
}

#login #loginSide h3 {
    margin-bottom: 10px;
    font-size: 13px;
}

#login #loginSide p {
    margin-bottom: 10px;
}

#login #loginSide ul {
    list-style: disc;
    margin-bottom: 10px;
}


/* clearer */


/* clearfix */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-table;
    min-height: 1%;
}


/* Hides from IE-mac \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* End hide from IE-mac */

.common_box {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/maybank_css/ie-css3.htc);
}

.common_box_shadow {
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/maybank_css/ie-css3.htc);
}

.tac-butt {
    font: 12px Arial;
    text-decoration: none;
    background-color: #ffcf00;
    color: #333333;
    padding: 4px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin-left: 5px;
}

.tac-butt:hover {
    color: #000000;
    text-decoration: underline;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
textarea,
button {
    -webkit-appearance: none;
}

select.form-control {
    -webkit-appearance: none;
}

select.form-control::-ms-expand {
    display: none;
}

select.form-control {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4woZADEM9E6IoQAAAA90RVh0Q29tbWVudABNYXliYW5r5BRzVgAAAkhJREFUeNrtnL9KHFEcRo8ZDQii+WMToqZJm0rwAXyB5CXEwufRIhZ5gvgG1mJlkTZWKSJCQIlEBV1S+BOGxYkTXffeO3MOTCOzI3zfzndmmwEREREREREREREREREREREREREREREREREZGbPABnAIXAMD4DuwDswBE0bUmonIbD0yHESmh5Hx7O2Jz2ofugC+AQfA7/jbK2AFeA9MmWtrpiKzlciQyPQgMr64PbGqfegaOAaOgHlgIZpaBGaAH8CvOE+aeQ58iG//R+AlcAbsAlvAPnD5rwtMA6vAV+C0VsxnYDn+gTSHvxxZHUd2p5HlamTbiqYSti3h3vC3/yf8quFiVzFFP2OO3gIvgCXn6N7Z+QS8js3fBTaBPeD8IReu3wknzlHr2Tl5yOzohISbrxPGtPltHaATEm2+Tshg83VCBptvCRmH30cxj0S4j5Fwn8WcTLiKOQPh9tkJ2W1+n0ooLvwuifnJhDtqCXdRzNkLt8tiLka4XXRCsZvfBSeMdfOf2gGlOaEzm1+iEzq3+SU5obObX0IJvQ0/BzEnFW4KCeck5t4IN0cx9064OTmh95ufsgTDTyjm7ISbi4THIWaFm1DMCjehE9z8hE4oYvNzdcBjnVDs5lcZ3wVNJbwbKqEqWbhV5lM0XMLCUAlHwBtgrRb+mU8743PCThwKN1EJf+Iw/ES/EwZxFPucXxVWwF1ivix58ycLvAvOI2hifgC+lCrckl/AMc3N+xjg5oUYPu0kmtDKGEREREREREREREREJGf+Ah7TppC4sKuyAAAAAElFTkSuQmCC');
    background-size: .75rem auto;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-x: calc(100% - .5rem);
    background-position-y: 50%;
    padding-right: 24px;
    padding-right: 1.5rem;
}

@media (max-width:359px) {
    .common_box_shadow {
        border-radius: 0;
    }
    .common_box {
        margin-right: -10px;
        margin-left: -10px;
        border-radius: 0;
    }
    .common_box .common_box {
        margin-right: 0;
        margin-left: 0;
        border-radius: 10px;
    }
}

@media (min-width:480px) {
    .header-child-float .item-float-left {
        float: left;
    }
    .header-child-float .item-float-right {
        float: right;
    }
}

#overlayBox {
    max-width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-mineshaft {
    color: #373737;
}

.bg-gold {
    background-color: #FFC83D !important;
}

.bg-gallery {
    background-color: #EFEFEF !important;
}

.border-light {
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
}

.btn-medium {
    color: #000;
    background-color: #d7d7d7;
    border-color: #c7c7c7;
}

.btn-medium:hover,
.btn-medium:focus,
.btn-medium:active {
    color: #000;
    background-color: #d0d0d0;
    border-color: #c7c7c7;
}

.font-family-lato {
    font-family: 'Lato', Tahoma, Verdana, Arial, sans-serif;
}

.font-size-base {
    font-size: 1rem !important;
}

.font-size-small {
    font-size: 13px;
}

.font-size-dec,
.transparent.font-size-dec {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.2;
}

.font-size-headermain,
#content .font-size-headermain {
    font-size: 24px;
    font-size: 1.5rem;
}

.font-size-subhead,
#login #loginMain .font-size-subhead,
#login #loginSide .font-size-subhead {
    font-size: 18px;
    font-size: 1.1rem;
}

.min-w-content {
    min-width: 320px;
}

.px-content,
#content.px-content {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width:360px) {
    #content.px-content {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width:480px) {
    #content.px-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}

#login #loginMain.w-loginmain,
.w-loginmain {
    width: 92.5%;
}

@media (min-width:360px) {
    #login #loginMain.w-loginmain,
    .w-loginmain {
        width: 90%;
    }
}

.p-login {
    padding: 10px
}

@media (min-width:360px) {
    .p-login {
        padding: 15px;
    }
}

@media (min-width:480px) {
    .p-login {
        padding: 30px;
    }
}

.text-nowrap {
    white-space: nowrap;
    ;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.pl-ul {
    padding-left: 19px;
    padding-left: 1.2rem;
}

.my-ul {
    margin-top: 5px;
    margin-bottom: 15px;
}

.w-100 {
    width: 100% !important;
}

.max-width-xs {
    max-width: 575px;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mx-n2 {
    margin-right: -.5rem;
    margin-left: -.5rem;
}

.rounded {
    border-radius: 8px;
}

.bg-white-05,
#content .bg-white-05 {
    background-color: rgba(255, 255, 255, .5) !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-2 {
    margin-top: 8px !important;
    margin-top: .5rem !important;
    margin-bottom: 8px !important;
    margin-bottom: .5rem !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-2 {
    margin-right: 8px !important;
    margin-right: .5rem !important;
    margin-left: 8px !important;
    margin-left: .5rem !important;
}

.mx-3 {
    margin-right: 16px !important;
    margin-right: 1rem !important;
    margin-left: 16px !important;
    margin-left: 1rem !important;
}

.mb-1 {
    margin-bottom: 4px;
    margin-bottom: .25rem;
}

.mb-3 {
    margin-bottom: 16px !important;
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 24px !important;
    margin-bottom: 1.5rem !important;
}

.mr-1 {
    margin-right: 4px;
    margin-right: .25rem;
}

.p-1 {
    padding: .25rem !important;
}

.p-2 {
    padding: .5rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-reset {
    color: inherit;
}

.font-weight-bold {
    font-weight: bold;
}

.text-decoration-none {
    text-decoration: none;
}

.link-gold,
.child-link-gold a,
.child-link-gold .transparent {
    color: inherit;
    border-bottom: solid 2px #FFC83D;
    text-decoration: none;
    border-radius: 0;
}

.focus-none:focus {
    outline: none;
}

.child-form-element label {
    margin-bottom: 4px;
    margin-bottom: .25rem;
    display: inline-block;
}

.child-form-element input:focus {
    outline: none;
}

.child-form-element input[type="text"],
.child-form-element input[type="email"],
.child-form-element input[type="password"],
.child-form-element input[type="number"] {
    font-family: inherit;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.2;
    width: auto;
    padding: 8px 12px;
    padding: .5rem .75rem;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 4px;
    border-radius: .25rem;
}

.child-form-element input[type="button"],
.child-form-element input[type="submit"],
.child-form-element input[type="reset"] {
    font-family: inherit;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.2;
    padding: 8px 15px;
    padding: .5rem 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-radius: .25rem;
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
}

.child-form-element input[type="submit"]:not([class*="btn"]) {
    background-color: #FFC83D;
    border-color: #FFC83D;
    color: #000;
}

.child-form-element input[type="submit"]:not([class*="btn"]):hover,
.child-form-element input[type="submit"]:not([class*="btn"]):focus,
.child-form-element input[type="submit"]:not([class*="btn"]):active {
    background-color: #ffbb0f;
}

.child-form-element.child-display-block input[type="submit"] {
    display: block;
    width: 100%;
}

.form-control {
    font-family: inherit;
    width: auto;
    padding: 8px 12px;
    padding: .5rem .75rem;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 4px;
    border-radius: .25rem;
}

.btn {
    font-family: inherit;
    padding: 8px 15px;
    padding: .5rem 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-radius: .25rem;
    font-weight: bold;
    transition: all .3s;
}

.btn-primary {
    background-color: #FFC83D;
    border-color: #FFC83D;
    color: #000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #ffbb0f;
}

.table-input-group td:not(.input-group-start) input,
.table-input-group td:not(.input-group-start) button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-style: none;
}

.table-input-group .input-group-start input,
.table-input-group .input-group-start button {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.table-input-group td:not(.input-group-end) input,
.table-input-group td:not(.input-group-end) button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-style: none;
}

.table-input-group .input-group-end input,
.table-input-group .input-group-end button {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.elevate-box {
    border: 0px solid #888 !important;
    z-index: 1 !important;
    position: relative !important;
    background-color: #000 !important
}

.pull-left {
    float: left;
}

.cancel {
    color: #FFF !important;
    float: right
}

.white-bg-box {
    border: 1px solid #888;
    background-color: #FFF
}

.text-center {
    text-align: center;
}

.w-loginmain {
    border: 2px solid #888;
    margin: 0 auto;
    z-index: 1;
}

.border-0 {
    border-width: 0 !important
}

.mt-3-rem {
    margin-top: 3rem;
}

.mr-1-rem {
    margin-right: 1rem
}

.content-table {
    margin: 0 auto;
    z-index: 99;
}

.img-security {
    width: 80px;
    height: 80px;
    border: 0px
}

.img-wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    width: 80px;
}

.img_box_wrapper {
    border: 5px solid #FFCC00;
    background: #fff;
    z-index: 99;
    width: 100px;
    height: 100px;
    position: relative;
}

.img-table {
    position: relative;
    border: 1px solid #fff;
    z-index: 99;
}

.img-box {
    padding: auto;
    margin-top: 2px;
}

.div-login-side {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.img-fpx {
    border: 0px;
    width: 107px;
}