@media (max-width:812px) {
    .page-header-fixed {
        padding-top: 50px
    }
    .login.login-with-news-feed .left-content,
    .register.register-with-news-feed .left-content {
        width: 100%
    }
    .header .navbar-nav.navbar-right {
        display: none
    }
    .language-bar {
        position: absolute;
        right: 3rem;
    }
    .language-bar-mobile {
        display: block !important
    }
    .panel-widget .amount {
        font-size: 1rem
    }
    .panel-widet .panel-body {
        padding: 10px 6px;
    }
    .dataTables_length {
        float: left
    }
    .dataTables_length.custom-select {
        width: 5rem
    }
    .dataTables_wrapper .dt-buttons {
        float: left;
        text-align: left;
    }
    .dataTables_filter {
        display: block;
        justify-content: flex-end;
        text-align: right !important
    }
    .widget-wrapper {
        flex-direction: column;
    }
}