:root {
    --sidebar-color: #1b1b28;
    --sidebar-alternate-color: #3a3a5d;
    --sidebar-activate: #78efa8;
    --background-color: #fcfcfc;
    --box-shadow: 0 2px 5px 0 rgba(112, 112, 112, 0.14);
    --primary-color: #78efa8;
    --primary-color-pressed: #60b984;
    --secondary-color: #000;
    --hover-grey: #f6f6f6;
}

body {
    background: var(--background-color)
}

.header.navbar-default {
    box-shadow: var(--box-shadow);
}

.sidebar .nav>li>a {
    line-height: 23px;
}

.sidebar .nav>li>a i {
    font-size: 18px;
    line-height: 20px;
}

.sidebar .nav>li.nav-header {
    font-size: 13px
}

.sidebar,
.sidebar-bg {
    background: var(--sidebar-color);
}

.sidebar .nav>li.active>a i {
    color: var(--sidebar-activate)
}

.sidebar .sub-menu>li.active:after {
    border-color: var(--sidebar-activate);
}

.sidebar .nav>li>a i {
    margin-right: 0.9rem
}

.sidebar .nav>li li.has-sub.active>a {
    color: #fff
}

.panel {
    box-shadow: var(--box-shadow);
}

.panel-heading {
    color: var(--secondary-color);
    padding: 16px;
    border-bottom: 1px solid #e9e9e9;
}

.panel-title {
    font-size: 1rem;
    font-weight: 700;
}

.panel-body {
    padding: 10px 16px;
}

.btn-brand {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color);
    font-size: 13px;
    border-radius: 3px;
    padding: 10px 20px;
    border: none;
}

.btn-brand:active {
    background-color: var(--primary-color-pressed) !important
}

.btn.btn-brand-dark-line {
    background-color: var(--sidebar-color) !important;
    border: 1px solid #d5d5d5;
    color: #fff
}

.btn.btn-brand-dark-line:hover {
    background-color: #fff !important;
    color: var(--sidebar-color);
}

.btn {
    font-size: 13px;
    border-radius: 3px;
    padding: 10px 20px;
    border: none;
}

label {
    margin-bottom: 0.3rem;
}

.form-control {
    font-size: 14px !important
}

.form-control.form-control-lg {
    padding: 5px 12px !important;
    height: 2.0rem !important;
    border-radius: 2.3px !important;
    font-size: 14px;
}

textarea.form-control.form-control-lg {
    height: auto !important;
    resize: both
}

.nowrap {
    white-space: nowrap;
}

.form-control.focus,
.form-control.input-white.focus,
.form-control.input-white:focus,
.form-control:focus {
    border-color: var(--secondary-color) !important;
    box-shadow: none !important
}

.col-form-label {
    text-align: left
}

.login.login-with-news-feed .left-content,
.register.register-with-news-feed .left-content {
    float: left;
    width: 500px;
    height: 100vh;
    box-shadow: 4px 0 15px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.login.login-with-news-feed .news-feed,
.register.register-with-news-feed .news-feed {
    left: 500px;
    right: 0
}

.login .login-title {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 0.9rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.login .login-header {
    width: 100%;
    text-align: center;
}

.login .brand img {
    width: 3rem
}

.login label {
    color: var(--secondary-color);
}

.bg-brand-dark {
    background: var(--sidebar-color);
}

.notifyjs-bootstrap-notify-success {
    background-color: #fff !important;
    border: none !important;
    box-shadow: var(--box-shadow);
    width: 15rem;
    border-left: 0.4rem solid green !important;
    padding: 1rem !important;
    color: var(--sidebar-color);
    font-size: 14px;
    text-shadow: none;
    border-radius: 2px !important;
}

.form-group.row:last-child {
    margin-bottom: 0 !important
}

.form-group.row {
    margin-bottom: .3rem
}

.btn.btn-brand:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color-pressed) !important
}

.badge.badge-brand {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

.dropdown-item,
.dropdown-menu>li>a {
    font-size: 14px
}

.notyf {
    left: 1rem !important;
    bottom: 1rem !important;
    right: unset !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px
}

.form-control[readonly] {
    background-color: #fff;
    pointer-events: none;
}

.form-control-plaintext {
    opacity: 1 !important
}

.date-row {
    display: flex;
    align-items: center;
}

.prev::before,
.next::before,
.next.disabled::before {
    font-family: 'Line Awesome Free' !important;
}

.next.disabled span {
    opacity: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--secondary-color) !important
}

.panel-widget {
    text-align: center;
}

.panel-widget .amount {
    font-weight: bold;
    font-size: 2rem;
    color: var(--secondary-color);
    line-height: 1.7;
}

.panel-widget .title {
    font-size: 1rem;
    color: var(--secondary-color)
}

.bank-box {
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    color: var(--secondary-color);
    font-size: 1rem;
}

.bank-box .title {
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.dropdown-toggle {
    padding: 0.1rem 1.2rem
}

.table-condensed-list {
    color: var(--sidebar-color);
    margin-bottom: 0
}

.table-condensed-list th {
    border: none !important;
    padding: 0.2rem 0 .2rem 0 !important
}

.table-condensed-list td {
    text-align: right;
    border: none !important;
    padding: 0.2rem 0 .2rem 0 !important
}

.navbar-brand {
    font-weight: bold !important;
    font-size: 15px !important;
    letter-spacing: 8px;
}

.language-bar-mobile {
    display: none !important
}

.language-bar img {
    width: 1.4rem;
    margin-right: 0.4rem;
}

.language-bar .change-language {
    padding: 8px 10px !important
}

.dt-buttons .btn-secondary {
    background-color: var(--sidebar-activate);
    color: var(--sidebar-color);
    padding: 8px 20px;
    font-size: .7rem;
}

.dt-buttons .btn-secondary:hover {
    background-color: var(--primary-color-pressed)
}

.version {
    position: absolute;
    bottom: 0;
    left: 38%;
}

.img-receipt {
    width: 100%;
}

.table-brand,
.table-brand th,
.table thead th,
.table>thead>tr>th {
    border: none !important;
    border-bottom: none !important;
}

.table-brand td {
    background: #fff;
    padding: 15px !important;
    color: var(--secondary-color);
    vertical-align: middle;
}

.table-brand th {
    font-weight: bold !important;
}

.table-brand td:first-child {
    border-left: 1px solid #e2e7eb;
}

.table-brand td:last-child {
    border-right: 1px solid #e2e7eb;
}

.table-brand tr:last-child td {
    border-bottom: 1px solid #e2e7eb;
}

.table-brand tbody tr {
    background: #fff
}

.table-brand tbody tr:hover>td {
    background: var(--hover-grey);
}

.pagination .page-item.active a {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--secondary-color);
}

.toggle {
    box-shadow: var(--box-shadow) !important;
}

.toggle .toggle-on,
.toggle .toggle-off {
    font-size: 0.8rem;
    padding-top: 8px;
}

.datepicker[readonly] {
    cursor: pointer;
    pointer-events: initial;
    opacity: 1;
}

.widget-wrapper {
    display: flex;
}

.widget-wrapper .panel {
    flex-grow: 1
}

.widget-wrapper .panel:not(:last-child) {
    margin-right: .5rem;
}

.updated-at {
    font-weight: 400;
    float: right;
}