body {
    font-family: 'Poppins';
    font-size: .9pc;
    margin-bottom: 0;
}

.section-letterhead {
    margin-bottom: .3in
}

.section-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: .15in;
    padding-bottom: .15in;
}

.section-bill {
    margin-bottom: .3in
}

.section-content {
    border-bottom: 1px solid #ccc;
}

.section-summary {
    margin-top: .15in;
}

.text-large {
    font-size: 1.7pc
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-header th:first-child,
.table-header td:first-child,
.table-summary th:first-child,
.table-summary td:first-child {
    text-align: left;
}

.table-header th:last-child,
.table-header td:last-child,
.table-summary th:last-child,
.table-summary td:last-child {
    text-align: right;
}

.table-shop {
    margin-bottom: .15in;
}

.table-shop td {
    padding: .8pc 0;
    text-align: right;
}

.table-shop tr td:first-child {
    text-align: left;
}

.table-shop thead td {
    border-bottom: 1px solid #ccc;
    padding-bottom: .8pc;
    color: #767676;
    font-family: 'Poppins-SemiBold';
}

.text-bold {
    font-family: 'Poppins-SemiBold';
}

.table-letterhead td {
    vertical-align: middle;
}

.td-logo {
    width: .8in
}