@media (max-width:812px) {
    .navbar-side {
        margin: 0 auto;
        width: 100%;
        position: relative;
        text-align: center;
        padding: 1.3rem;
    }
    .navbar {
        padding: 0
    }
    .bg-mainbanner {
        padding-left: 0;
    }
    .logobar {
        padding: 1rem 0;
    }
    .logobar img {
        width: 9rem;
    }
    .div-cta {
        flex-direction: column;
        width: 100%;
        padding: .3rem;
    }
    .div-cta input {
        padding: .7rem
    }
    .bg-banner {
        padding: 6rem 0
    }
    .div-mainbanner .section-content {
        max-width: unset
    }
    .div-mainbanner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .img-new-product {
        margin-bottom: 5rem
    }
    .desc-img {
        width: 100%;
    }
}