@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900&display=swap');
:root {
    --brand-color: #c7992d;
    --brand-inverse-color: #2b2b2b;
    --light-grey: #f8f8f8;
    --light-grey-btn: #c1c1c1;
    --beige: #edece8
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--brand-inverse-color)
}

.navbar {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--light-grey);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--brand-inverse-color) !important
}

.navbar-light .navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 2rem;
}

.nav-group {
    width: 100%;
    position: relative;
}

.navbar-side {
    list-style: none;
    font-weight: bold;
    padding: .5rem;
    margin-right: 10rem;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-side li {
    display: inline-block;
}

.navbar-side li:not(:last-child) {
    margin-right: 1.5rem
}

.navbar-side li .icon {
    width: 1.3rem
}

.navbar-side li a {
    color: var(--brand-inverse-color);
    text-decoration: none;
}

.logobar {
    text-align: center;
    width: 100%;
    padding: 4rem 0
}

.logobar img {
    width: 23rem
}

.navbar-nav a {
    text-transform: uppercase;
}

.section-header .icon {
    width: 2rem;
    margin-bottom: 1rem;
}

.section-header .title {
    font-weight: 600;
    font-size: 1.8rem
}

.section {
    padding: 5rem 0
}

.bg-lightgrey {
    background-color: var(--light-grey);
}

.bg-beige {
    background-color: var(--beige);
}

.section-header .brief {
    color: var(--brand-color);
    text-transform: uppercase;
}

.section-header .title.title2 {
    font-size: 2.6rem
}

.section-slider-title {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.section-content {
    margin-top: 1.6rem;
    margin-bottom: 3.5rem;
    line-height: 1.8;
    text-align: justify;
    font-weight: 400;
}

.section-cta {
    display: flex;
}

.btn-brand {
    text-transform: uppercase;
    border: 2px solid var(--brand-inverse-color);
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    color: var(--brand-inverse-color)
}

.btn-brand:hover {
    text-decoration: none;
    background-color: var(--brand-inverse-color);
    color: var(--brand-color);
    transition: .2s all ease-in
}

.btn.btn-brand.btn-product:hover {
    color: #fff !important
}

.btn-brand-inverse {
    text-transform: uppercase;
    border: 2px solid var(--brand-inverse-color);
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    color: #fff;
    background-color: var(--brand-inverse-color)
}

.btn-brand-inverse.btn-product:hover {
    background-color: var(--brand-inverse-color)
    /* text-decoration: none;
    background-color: #fff;
    color: var(--brand-inverse-color);
    transition: .2s all ease-in */
}

.btn.btn-brand-inverse.btn-product:hover {
    color: #fff !important
}

.btn-product {
    margin-bottom: .5rem
}

.btn-brand span {
    line-height: 1.6
}

.bg-banner {
    background-image: url('/assets/image/banner.png');
    background-size: cover;
    background-position: center;
    padding: 10rem 0
}

.bg-mainbanner {
    background-image: url('/assets/image/main_banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 0 5rem 5rem;
}

.div-mainbanner .section-content {
    max-width: 37%
}

.container-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.div-cta {
    border: 1px solid #fff;
    padding: .3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    font-size: 1.2rem;
}

.div-cta input {
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 400;
    width: 100%
}

.div-cta input::placeholder {
    color: #fff
}

.div-cta .btn-cta:focus {
    outline: 0;
}

.div-cta input:focus {
    outline: none !important;
}

.div-cta .btn-cta {
    background-color: #fff;
    color: var(--brand-inverse-color);
    padding: 0.6rem 2.1rem;
    font-weight: bold;
    border: 1px solid transparent
}

.container-cta .title {
    font-weight: 200;
    margin-bottom: 2rem
}

.container-cta .title span {
    font-weight: 700;
}

.footer {
    text-align: center;
    padding: 5rem 0
}

.footer .title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem
}

.footer .phone {
    color: var(--brand-color);
    font-size: 2.2rem;
    font-weight: 200;
    padding-top: 2rem
}

.footer .social-media-instruction {
    padding: 2rem 0
}

.ul-social-media {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0
}

.ul-social-media li {
    display: inline-block;
    background: var(--brand-inverse-color);
    color: var(--light-grey);
    width: 45px;
    height: 45px;
}

.ul-social-media li div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ul-social-media li:not(:last-child) {
    margin-right: 1rem
}

.section-product {
    margin-top: 3rem
}

.product-item {
    text-align: center;
}

.product-item .product-img {
    width: 100%;
    margin-bottom: 2rem
}

.product-item .product-title {
    font-weight: 800;
    margin-bottom: 1.5rem
}

.product-item .product-description {
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 1.5rem
}

.product-item .section-cta {
    display: flex;
    justify-content: center;
}

.form {
    margin-top: 3rem
}

.f-w-800 {
    font-weight: 800 !important;
}

.f-w-200 {
    font-weight: 200 !important;
}

.f-w-600 {
    font-weight: 600 !important;
}

.text-brand {
    color: var(--brand-color)
}

.section-mainbanner {
    padding: 0
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.delay-05s {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay-105s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.div-quantity {
    display: flex;
    align-items: center;
    border: 1px solid var(--brand-inverse-color);
    width: min-content;
    padding: .5rem;
    border-radius: 50px
}

.div-quantity .btn-quantity {
    margin: 0 1rem;
    cursor: pointer
}

.div-quantity input {
    border: none;
    outline: none;
    width: 3rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.1;
}

.div-quantity input:focus {
    box-shadow: none
}

.desc-title {
    font-weight: 600 !important;
    font-size: 1.3rem;
    margin: 1rem 0
}

.prod-price {
    color: var(--brand-color);
    font-weight: 600;
    margin: 2rem 0
}

.prod-title {
    font-weight: 700;
    margin-top: 1rem
}

.prod-img {
    width: 100%
}

.prod-promotion-text {
    margin: 2rem 0
}

.desc-img {
    width: 80%;
    margin-bottom: 2rem
}

.desc-section {
    margin: 2rem 0
}

.light-border {
    border-color: #f1f1f1
}

.nav-brand-pills .nav-item .nav-link {
    background-color: var(--light-grey-btn);
    color: var(--brand-inverse-color);
    text-transform: uppercase;
    margin-right: 1rem;
    padding: 0.7rem 3.2rem;
    font-size: 0.9rem;
    border-radius: 0;
}

.nav-brand-pills .nav-item .nav-link.active {
    background-color: var(--brand-color);
    color: #fff
}